# dependências
node_modules/

# variáveis de ambiente
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# sistema operacional
.DS_Store
Thumbs.db

# editor/IDE
.vscode/
.idea/

# build / output
dist/
build/

# Ignora todo o conteúdo da pasta uploads...
uploads/*

# ...mas NÃO ignora o arquivo .gitkeep (mantém a pasta)
!uploads/.gitkeep

